/* general styles */

body {
  vertical-align: middle;
}

header {

}

main {
  padding-bottom: 10px;
}

footer {
  background-color: beige;
  padding: 20px 0 5px 0;
}

/* css classes */

.fullspan {
  min-width: 100%;
}