/* general */
body {
	vertical-align: middle;
}
header {
	
}
main {
	
}
footer {
	background-color: beige;
	padding: 20px 0;
}

/* more specific */
header nav img {
	height: 7rem;
	transition: all 0.5s linear;
}

main section.intro {
	background-image: url('../images/intro.jpg');
	padding: 60px 0 30px 0;
}
main section.intro .panel {
	background-color: rgba(255,255,255,0.50);
}

footer p, footer h6 {
	font-size: 0.75rem;
	font-family: 'Droid Sans', serif;
}
footer ul.footer-links li {
	font-size: 0.73em;
	font-family: 'Droid Sans', serif;
	list-style: none;
}
footer ul.footer-links li a {
	color: #ef4523;
	transition: all 0.5s linear;
}
footer ul.footer-links li a:hover {
	color: #aaaaaa;
}

/* shrinking header (on scroll) */
.shrinking-header {
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	min-width: 100%;
}

.contain-to-grid {
	background-color: rgba(255,255,255,0.97);
}

.full-width {
	min-width: 100%;
}

.top-bar {
	background: none;
	padding: 40px 0.9375rem 70px 0.9375rem;
	transition: all 0.5s ease 0.1s;
}
.top-bar ul.title-area img {
	margin: -40px 0 0 0;
}
.top-bar .top-bar-section ul {
	background: none;
}
.top-bar .top-bar-section ul li a:not(.button), .top-bar .top-bar-section ul li.active a:not(.button) {
	background: none;
	line-height: 30px;
	font-size: 12px;
	padding: 0;
	margin: 0px;
	text-transform: uppercase;
}
.top-bar .top-bar-section ul li a:not(.button):hover {
	background: none;
	border-bottom: 2px solid #ef4523;
	color: #222;
}
.top-bar .top-bar-section ul li.active a:not(.button) {
	background: none;
	border-bottom: 2px solid #ef4523;
	color: #222;
}
.top-bar .top-bar-section ul li.active a:not(.button):hover {
	background: none;
	border-bottom: 2px solid #ef4523;
	color: #222;
}
.top-bar .top-bar-section ul li {
	background: none;
	margin-left: 30px;
}
.top-bar .top-bar-section ul li a {
	background: none;
	color: #888;
}

.padding-on-header {
	padding: 15px 0.9375rem 45px 0.9375rem;
}
.padding-on-header ul.title-area img {
	margin: -12px 0 0 0;
	height: 55px;
}