/* general */
body {
	vertical-align: middle;
}
header {
	background-color: beige;
}
footer {
	background-color: beige;
	padding: 20px 0;
}

/* more specific */
header nav img {
	height: 7rem;
}

/* shrinking header (on scroll) */
.header-section {
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	min-width: 100%;
}

.contain-to-grid {
	background-color: rgba(255,255,255,0.97);
}

.padding-on-header {
	padding: 17px 0.9375rem 60px 0.9375rem;
}

.padding-on-header ul.title-area img {
	margin: -5px 0 0 0;
}

.full-width {
	min-width: 100%;
}

.top-bar {
	background: none;
	padding: 50px 0.9375rem 80px 0.9375rem;
	transition: all 0.5s ease 0.1s;
}
.top-bar ul.title-area img {
	margin: -40px 0 0 0;
}
.top-bar .top-bar-section ul {
	background: none;
}
.top-bar .top-bar-section ul li a:not(.button), .top-bar .top-bar-section ul li.active a:not(.button) {
	background: none;
	line-height: 30px;
	font-size: 12px;
	padding: 0;
	margin: 5px 0 0 0;
	text-transform: uppercase;
}
.top-bar .top-bar-section ul li a:not(.button):hover {
	background: none;
	border-bottom: 2px solid #ef4523;
	color: #222;
}
.top-bar .top-bar-section ul li.active a:not(.button) {
	background: none;
	border-bottom: 2px solid #ef4523;
	color: #222;
}
.top-bar .top-bar-section ul li.active a:not(.button):hover {
	background: none;
	border-bottom: 2px solid #ef4523;
	color: #222;
}
.top-bar .top-bar-section ul li {
	background: none;
	margin-left: 30px;
}
.top-bar .top-bar-section ul li a {
	background: none;
	color: #888;
}